NAME="{{ name }}"
PRETTY_NAME="{{ pretty_name }}"
VERSION_ID="{{ version_id }}"
VERSION="{{ version_id }} ({{ name }})"
ID={{ name|lower }}
ID_LIKE=debian
HOME_URL="https://{{ name|lower }}.example.com"
BUG_REPORT_URL="https://github.com/{{ name|lower }}/issues"
