[Desktop Entry]
Type=Application
Exec=sh -c "ln -s /home/$USER/テンプレート /home/$USER/Templates && rm ~/.config/autostart/lndir_Templates.desktop"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=
Name=
Comment[ja_JP]=
Comment=
