[Desktop Entry]
Type=Application
Exec=sh -c "ln -s /home/$USER/ドキュメント /home/$USER/Documents && rm ~/.config/autostart/lndir_Documents.desktop"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=
Name=
Comment[ja_JP]=
Comment=
